@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maersk Line NE</h1>
    <p class="lead"> Maersk is an integrated transport and logistics company with multiple brands and is a global leader in container shipping and ports. Including a stand-alone Energy division, the company employs roughly 88,000 employees across operations in 130 countries.</p>
    <p><a href="../Home/About" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
</div>
