<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>koklilau95hotmail.onmicrosoft.com</ADDomain>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cms-031874.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cms-031874.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CMS-031874</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CMS-031874</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EntityDataModelContainer" Order="1" Enabled="False" xmlns="">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CMS031874v4.Models.EntityDataModelContainer, CMS031874v4" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://koklilau95hotmail.onmicrosoft.com/WebApp-cms-031874.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>44073f1a-97b8-4c9c-965d-0fdb4173a0a6</ADClientAPPID>
    <ADClientPassword>hoxviS0XBDEWDrL0/5QhTZ03TVqtwo5KU5tolux7MUI=</ADClientPassword>
    <ADReplyUrl>https://cms-031874.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>9840f1ff-ee96-4813-963e-2dea41ab3126</ADTenantId>
    <ADPostLogoutRedirectUri>https://cms-031874.azurewebsites.net/</ADPostLogoutRedirectUri>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EntityDataModelContainer-Web.config Connection String" />
  </ItemGroup>
</Project>